[Unit]
Description=Timer for periodic Google Drive backup
After=network-online.target

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
